
  .fulldiv {
    width: 60%;  
    height: 550px;;
    justify-content: center;
    margin-left: 500px ;
    margin-top: 200px;
    align-items: center;
    padding: 15px;
    border: 1px solid black;
    ;
  }

  .navdiv
  {
    width :20%;
    height: 580px;
    margin-left: -15px;
    border : 1px solid black;
    margin-top: -15px;
    background-color: chocolate;
    float: left;
  }

  .text
  {
      margin-top: -100px;
  }

  .btn
  {
      background-color: chocolate;
      margin-left: 750px;
  }

  .divtable
  {
      
      width: 900px;
      margin-left: 250px;
      height: 200px;
      margin-top: 40px;;
  }
table
{
    border: 1px solid;
    width: 50%;
        
}